*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: monospace;
}

h1.heading{
    text-align: center;
    margin-top: 5%;
    font-size: 2.6rem;
    color: #8200ae;
}

.container{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 3rem;
}

.form-body{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: .5rem 2rem;
    align-items: center;
    border-radius: 3rem;
    border: 3px solid #da6affb5;
    background-color: #f6daff;
    /* background-color: blue; */
}
.todo-title-input{
    width: 100%;
    height: 3.2rem;
    /* padding: 0 1.2rem; */
    color: #8800b5;
    outline: none;
    background: transparent;
    font-size: 1.2rem;
    font-family: monospace; 
    border: none;
}
.submit-button{
    text-decoration: none;
    outline: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: #8800b5;
    border-radius: 3rem;
    padding: .7rem 3rem;
    border: none;
    font-family: monospace;
    letter-spacing: .1em;
    background: #da6aff54;
    transition: .2s all ease;
}
.submit-button:hover{
    background: #8c00ba52;
    color: black;
}
.todo-list{
    margin: .5rem 0;

}
ul li{
    list-style: none;
    margin-bottom: .8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #8200ae;
    padding: .5rem 2rem;
    border-radius: 9rem;
}
.todo-text{
    color: white;
    font-size: 1.4rem;
}
.decor{
    color: #3dff0d;
    text-decoration: line-through;
}
.checkbox {
    appearance: none;
    width: 2rem;
    height: 2rem;
    border: 4px solid white;
    background: transparent;
    border-radius: 4rem;
    cursor: pointer;
    position: relative;
    top: -3px;
    margin-right: 1rem;
    transition: .07s all ease;
}
.checkbox:hover{
    background-color: #ffffff4b;
}
.checkbox:checked {
    background: white;
}
.checkbox:checked::after {
    content: '✓';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #8200ae;
    font-size: 14px;
    font-weight: bold;
}
.remove{
    color: #ffffff;
    user-select: none;
    font-size: 3.5rem;
    font-weight: bolder;
    cursor: pointer;
    padding: 0 1rem;
    text-shadow: 0 #00000000;
    transition: .1s all;
}
.remove:hover{
    text-shadow: 2px 2px 4px #00000080;
    color: #f6daff;
}